/* FONTS
-------------------------------------------------- */
@font-face {
  font-family: 'brandon_grotesquebold';
  src: url('/fonts/brandon_bld.eot');
  src: url('/fonts/brandon_bld.eot?#iefix') format('embedded-opentype'), url('/fonts/brandon_bld.woff') format('woff'), url('/fonts/brandon_bld.ttf') format('truetype'), url('/fonts/brandon_bld.svg#brandon_grotesquebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url('/fonts/brandon_reg.eot');
  src: url('/fonts/brandon_reg.eot?#iefix') format('embedded-opentype'), url('/fonts/brandon_reg.woff') format('woff'), url('/fonts/brandon_reg.ttf') format('truetype'), url('/fonts/brandon_reg.svg#brandon_grotesque_regularRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* COLORS
-------------------------------------------------- */
/* GLOBAL SETTINGS
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background: url('/images/background.jpg');
}
#footer {
  width: 100%;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
section {
  padding: 30px 0px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'brandon_grotesquebold';
  color: #ee2629;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 34px;
}
p {
  font-family: 'brandon_grotesque_regularRg';
  font-size: 18px;
}
ul {
  list-style-type: none;
  font-family: 'brandon_grotesque_regularRg';
}
a {
  color: #ee2629;
}
a:hover {
  text-decoration: none;
  color: #ee2629;
}
.img-thumbnail {
  background-color: transparent;
  border: none;
}
#partners-banner,
#service-banner,
#distribution-banner,
#about-banner,
#history-banner,
#media-banner,
#contact-banner {
  /*  height: auto!important;*/
  background-position: center!important;
}
/* NAVBAR
-------------------------------------------------- */
.navbar-default {
  background: #ee2629;
  border-bottom: none;
}
.navbar-default .navbar-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default .navbar-nav li a {
  color: #FFF;
  font-weight: bold;
}
.navbar-default .navbar-nav li a:hover {
  color: #FFF;
}
@media (max-width: 1200px) {
  .navbar-default .navbar-nav li a {
    padding: 10px 5px;
  }
}
.navbar-default .navbar-nav .active a {
  background-color: rgba(255, 255, 255, 0);
  color: #FFF;
}
.navbar-default .navbar-nav .active a:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #FFF;
}
.navbar-default .navbar-nav a:hover {
  font-size: 18px;
}
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
.navbar-toggle {
  margin-top: 15px;
}
.navbar-default .navbar-nav li {
  font-family: brandon_grotesque_regularRg !important;
}
.navbar-default {
  background: none;
}
/* HOME PAGE
-------------------------------------------------- */
#hero {
  background: url('/images/home/hero.jpg') no-repeat center center;
  height: 825px;
  position: relative;
  background-size: cover;
}
#blurb {
  background: url('/images/home/parallax.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#blurb p {
  font-size: 22px;
  color: #FFF !important;
}
#map {
  background: url('/images/home/map.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  color: #FFF;
}
@media (max-width: 767px) {
  #map {
    background: url('/images/home/chalk.jpg') no-repeat center center;
    height: auto;
  }
}
#map h2 {
  color: #FFF;
}
#serve {
  margin-top: 80px;
}
@media (max-width: 992px) {
  #serve {
    margin-top: 10px;
  }
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #fdc510;
}
#calls img {
  opacity: 0.8;
}
#calls img:hover {
  opacity: 1.0;
}
#mobile-hero {
  background-image: url(../images/home/heromobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 380px;
}
@media (max-width: 767px) {
  .mobile-spacing {
    padding-bottom: 10px;
  }
}
#blurb {
  height: auto!important;
}
/* PRODUCTS PAGE
-------------------------------------------------- */
#product-parallax {
  background: url('/images/products/cheers.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 300px;
}
#product-parallax p {
  font-size: 22px;
  color: #FFF;
}
#product-list {
  padding-top: 90px;
}
.beverages {
  background: url('/images/products/beverages.jpg') no-repeat center center;
  height: 444px;
  position: relative;
}
.beverages h1 {
  position: absolute;
  top: 40%;
  left: 15%;
  color: #FFF;
  font-size: 70px;
}
@media (max-width: 1200px) {
  .beverages h1 {
    left: 5%;
  }
}
@media (max-width: 992px) {
  .beverages h1 {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .beverages {
    margin-bottom: 10px;
  }
}
.snacks {
  background: url('/images/products/snacks.jpg') no-repeat center center;
  height: 444px;
  position: relative;
}
.snacks h1 {
  position: absolute;
  top: 40%;
  left: 25%;
  color: #FFF;
  font-size: 70px;
}
@media (max-width: 1200px) {
  .snacks h1 {
    left: 5%;
  }
}
@media (max-width: 992px) {
  .snacks h1 {
    font-size: 50px;
  }
}
.product-tabs {
  background-color: #d7d7d7;
}
.product-tabs li {
  display: inline-block !important;
  padding: 15px 0px;
  cursor: pointer;
}
.product-tabs li p {
  color: #333333;
}
.product-tabs li p:hover {
  color: #ee2629!important;
}
.product-tabs .curr {
  background-image: url('/images/background.jpg');
}
.product-tabs .curr p {
  color: #ee2629!important;
  font-size: 22px;
}
.detail {
  font-size: 11px;
}
.detail-list {
  positon: absolute;
}
.info-border ul {
  padding-left: 0px;
}
.width150 {
  width: 150px;
}
/* SERVICES PAGE
-------------------------------------------------- */
#service-banner {
  background: url('/images/services/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  background-position-y: -500px;
  position: relative;
  background-size: cover;
}
/*@media (max-width: 1600px) and (min-width: 1200px) {
  #service-banner {
    background-position-y: -300px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  #service-banner {
    background-position-y: -100px;
  }
}
@media (max-width: 992px) {
  #service-banner {
    background-position-y: -75px;
  }
}
@media (max-width: 645px) {
  #service-banner {
    background-position-y: -20px;
    height: 300px;
  }
}
@media (max-width: 460px) {
  #service-banner {
    background-position-y: 0px;
  }
}*/
@media (max-width: 1400px) and (min-width: 767px) {
  #service-banner {
    background: url('/images/services/header-mid.jpg') no-repeat center center;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  #service-banner {
    background: url('/images/services/header-mobile.jpg') no-repeat center center;
    background-size: cover;
  }
}
#service-banner h1 {
  position: absolute;
  color: #FFF;
  top: 40%;
  left: 40%;
  font-size: 70px;
}
@media (max-width: 580px) {
  #service-banner h1 {
    left: 25%;
  }
}
@media (max-width: 460px) {
  #service-banner h1 {
    left: 15%;
    font-size: 50px;
  }
}
#subnav {
  background: #FFF;
}
#subnav .navwrap .navlist {
  overflow: hidden;
}
#subnav .navwrap .navlist ul {
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
}
@media all and (max-width: 1100px) {
  #subnav .navwrap .navlist ul {
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    padding-left: 0px;
  }
}
#subnav .navwrap .navlist ul li {
  float: left;
  width: 13.5%;
}
@media all and (max-width: 750px) {
  #subnav .navwrap .navlist ul li {
    width: 25%;
    outline: 1px solid #E4EBED;
  }
}
@media all and (max-width: 500px) {
  #subnav .navwrap .navlist ul li {
    width: 50%;
  }
}
#subnav .navwrap .navlist ul li .wrap {
  height: 68px;
  position: relative;
}
#subnav .navwrap .navlist ul li a {
  display: block;
  text-align: center;
  padding: 40px 0;
  color: #808080;
}
#subnav .navwrap .navlist ul li a:hover {
  background: url('/images/background.jpg');
}
#subnav .navwrap .navlist ul li a img {
  width: 40px;
  margin: 0 0 10px;
}
@media all and (max-width: 900px) {
  #subnav .navwrap .navlist ul li a img {
    width: 30px;
  }
}
/* container that holds the navigation menu as it would look normally in the page */
.spacer {
  height: 138px;
  width: 100%;
  background: #E4EBED;
  display: none;
}
/* this is what it will look like when it is sticking to the top of the window.*/
.stickynavwrapper.sticky {
  position: fixed;
  top: 60px;
  z-index: 10;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 0px rgba(26, 26, 26, 0.05);
}
.stickynavwrapper.sticky p {
  display: none;
}
.stickynavwrapper.sticky a {
  padding: 25px 0 20px !important;
}
#services-content {
  padding-top: 0px;
  padding-bottom: 0px;
}
#services-content h1 {
  font-size: 50px;
}
@media (max-width: 1200px) {
  #services-content h1 {
    font-size: 40px;
  }
}
#services-content #bottling {
  position: relative;
}
@media (max-width: 768px) {
  #services-content #bottling {
    position: inherit;
  }
}
#services-content #bottling .text-block {
  position: absolute;
  top: 60px;
}
@media (max-width: 1200px) {
  #services-content #bottling .text-block {
    top: 10px;
  }
}
@media (max-width: 768px) {
  #services-content #bottling .text-block {
    position: inherit;
  }
}
#services-content #brand {
  background: #FFF;
  position: relative;
}
#services-content #brand .text-block {
  position: absolute;
  top: 60px;
}
@media (max-width: 1200px) {
  #services-content #brand .text-block {
    top: 0px;
    position: inherit;
  }
}
#services-content #distribution {
  position: relative;
}
#services-content #distribution .text-block {
  position: absolute;
  top: 60px;
}
@media (max-width: 992px) {
  #services-content #distribution .text-block {
    top: 0px;
    position: inherit;
  }
}
#services-content #logistics {
  background: #FFF;
  position: relative;
}
#services-content #logistics .text-block {
  position: absolute;
  top: 60px;
}
@media (max-width: 992px) {
  #services-content #logistics .text-block {
    top: 0px;
    position: inherit;
  }
}
#services-content #marketing {
  position: relative;
}
#services-content #marketing .text-block {
  position: absolute;
  top: 40px;
}
@media (max-width: 1200px) {
  #services-content #marketing .text-block {
    top: 0px;
    position: inherit;
  }
}
#services-content #media {
  background: #FFF;
  position: relative;
}
#services-content #media .text-block {
  position: absolute;
  top: 60px;
}
@media (max-width: 992px) {
  #services-content #media .text-block {
    top: 0px;
    position: inherit;
  }
}
#services-content #vending {
  position: relative;
}
#services-content #vending .text-block {
  position: absolute;
  top: 60px;
}
@media (max-width: 992px) {
  #services-content #vending .text-block {
    top: 0px;
    position: inherit;
  }
}
#services-partners {
  background: #FFF;
}
.mobile-scroll {
  padding: 30px;
}
/* DISTRIBUTION PAGE
-------------------------------------------------- */
#distribution-banner {
  background: url('/images/distribution/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  background-position-y: -500px;
  position: relative;
  background-size: cover;
}
@media (max-width: 1600px) and (min-width: 1200px) {
  #distribution-banner {
    background-position-y: -300px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  #distribution-banner {
    background-position-y: -100px;
  }
}
@media (max-width: 992px) {
  #distribution-banner {
    background-position-y: -75px;
  }
}
@media (max-width: 645px) {
  #distribution-banner {
    background-position-y: -20px;
    height: 300px;
  }
}
@media (max-width: 460px) {
  #distribution-banner {
    background-position-y: 0px;
  }
}
#distribution-banner h1 {
  position: absolute;
  color: #FFF;
  top: 40%;
  left: 35%;
  font-size: 70px;
}
@media (max-width: 992px) {
  #distribution-banner h1 {
    left: 25%;
  }
}
@media (max-width: 580px) {
  #distribution-banner h1 {
    left: 25%;
  }
}
@media (max-width: 460px) {
  #distribution-banner h1 {
    left: 0%;
    font-size: 50px;
  }
}
#distribution-map {
  background: url('/images/distribution/map.jpg') no-repeat center center;
  height: 660px;
  background-size: cover;
}
#distribution-map h2 {
  color: #FFF;
}
#distribution-map ul {
  padding: 0px;
  color: #FFF;
  font-family: 'brandon_grotesque_regularRg';
  font-size: 22px;
}
#distribution-parallax {
  background: url('/images/distribution/parallax.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 250px;
}
@media (max-width: 768px) {
  #distribution-parallax {
    height: 400px;
  }
}
#distribution-parallax p {
  color: #FFF;
}
#distribution-contact h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin: 20px 0px;
}
#distribution-map {
  height: auto!important;
}
#distribution-map-mobile {
  width: 100%;
  height: 100%;
  padding: 0px!important;
}
#distribution-map-mobile .img-responsive {
  width: 100%!important;
}
#distribution-parallax {
  height: auto!important;
}
#distribution-parallax p {
  font-size: 22px;
  margin: 20px 0px;
}
#distribution-contact a {
  color: black;
  text-decoration: underline;
}
#distribution-contact a:hover {
  color: #ee2629;
  text-decoration: none;
}
/* PARTNERS PAGE
-------------------------------------------------- */
#partners-banner {
  background-image: url(http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/partners_header_zps3a5c294b.jpg~original);
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  color: white;
}
#partners-banner h1 {
  margin: 100px 0 60px 0;
  position: relative;
  color: white;
  left: 0!important;
  font-size: 70px;
}
#partners-banner h1 {
  margin: 60px 0 20px 0;
  position: relative;
  left: 0!important;
}
.partner-tabs {
  background-color: #d7d7d7;
}
.partner-tabs li {
  display: inline-block;
  padding: 15px 10px;
  cursor: pointer;
}
.partner-tabs li h4 {
  color: #333333;
}
.partner-tabs li h4:hover {
  color: #ee2629!important;
}
.partner-tabs .curr {
  background-image: url('/images/background.jpg');
}
.partner-tabs .curr h4 {
  color: #ee2629!important;
}
@media (max-width: 772px) {
  .partner-tabs li {
    width: 40%;
  }
}
/* ABOUT PAGE
-------------------------------------------------- */
#about-banner {
  background: url('/images/about/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  background-position-y: -500px;
  position: relative;
  background-size: cover;
}
@media (max-width: 1600px) and (min-width: 1200px) {
  #about-banner {
    background-position-y: -300px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  #about-banner {
    background-position-y: -100px;
  }
}
@media (max-width: 992px) {
  #about-banner {
    background-position-y: -75px;
    height: auto;
  }
}
@media (max-width: 645px) {
  #about-banner {
    background-position-y: -20px;
    height: auto;
  }
}
@media (max-width: 460px) {
  #about-banner {
    background-position-y: 0px;
  }
}
#about-banner h1 {
  color: #FFF;
  font-size: 70px;
}
#about-banner p {
  color: #FFF;
}
#profile h3 {
  color: #00b3bd;
}
#locations {
  background: #FFF;
}
#locations ul {
  list-style: none;
  padding-left: 0;
}
#locations ul li {
  font-family: 'brandon_grotesque_regularRg';
}
.spec-bio {
  margin-bottom: 40px;
}
#profile-social ul {
  padding-left: 0px;
}
#about-banner h1 {
  margin: 60px 0 20px 0;
  position: relative;
  left: 0!important;
}
.social li {
  display: inline-block;
}
.social1 li {
  display: inline-block;
}
.social1 {
  padding-left: 5px;
  float: right;
}
@media (max-width: 767px) {
  .social1 {
    float: none!important;
    text-align: center!important;
    display: inline-block;
    padding-left: 0px;
  }
}
.btn-about {
  margin-bottom: 5px;
  font-family: 'brandon_grotesque_regularRg';
  background-color: rgba(0, 179, 189, 0.8);
  border-color: rgba(0, 179, 189, 0.8);
}
.btn-about:hover {
  background-color: rgba(0, 179, 189, 0.5);
  border-color: #00b3bb;
}
/* BIO PAGE
-------------------------------------------------- */
#profile-page {
  margin-top: 70px;
}
/* HISTORY PAGE
-------------------------------------------------- */
#history-banner {
  background: url('/images/history/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  background-position-y: -500px;
  position: relative;
  background-size: cover;
}
@media (max-width: 1600px) and (min-width: 1200px) {
  #history-banner {
    background-position-y: -300px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  #history-banner {
    background-position-y: -100px;
  }
}
@media (max-width: 992px) {
  #history-banner {
    background-position-y: -75px;
  }
}
@media (max-width: 645px) {
  #history-banner {
    background-position-y: -20px;
    height: 300px;
  }
}
@media (max-width: 460px) {
  #history-banner {
    background-position-y: 0px;
  }
}
#history-banner h1 {
  position: absolute;
  color: #FFF;
  top: 40%;
  left: 40%;
  font-size: 70px;
}
@media (max-width: 992px) {
  #history-banner h1 {
    left: 25%;
  }
}
@media (max-width: 580px) {
  #history-banner h1 {
    left: 25%;
  }
}
@media (max-width: 460px) {
  #history-banner h1 {
    left: 0%;
    font-size: 50px;
  }
}
#history-content {
  background: url('/images/history/background.jpg');
}
#history-content .first {
  position: relative;
}
#history-content .first .image {
  position: absolute;
  top: 20px;
}
@media (max-width: 992px) {
  #history-content .first .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .first {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .first p {
  background: url('/images/history/1889.png') no-repeat center;
  background-size: contain;
}
#history-content .second {
  padding-top: 20px;
  position: relative;
}
#history-content .second .image {
  position: absolute;
  top: 60px;
}
@media (max-width: 992px) {
  #history-content .second .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .second {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .second p {
  background: url('/images/history/1916.png') no-repeat center;
  background-size: contain;
}
#history-content .third {
  padding-top: 20px;
  position: relative;
}
#history-content .third .image {
  position: absolute;
  top: 30px;
}
@media (max-width: 992px) {
  #history-content .third .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .third {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .third p {
  background: url('/images/history/1922.png') no-repeat center;
  background-size: contain;
}
#history-content .fourth {
  padding-top: 20px;
  posiiton: relative;
}
#history-content .fourth .image {
  position: absolute;
  top: 30px;
}
@media (max-width: 992px) {
  #history-content .fourth .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .fourth {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .fourth p {
  background: url('/images/history/1947.png') no-repeat center;
  background-size: contain;
}
#history-content .fifth {
  padding-top: 20px;
  position: relative;
}
#history-content .fifth .image {
  position: absolute;
  top: 60px;
}
@media (max-width: 992px) {
  #history-content .fifth .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .fifth {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .fifth p {
  background: url('/images/history/1961.png') no-repeat center;
  background-size: contain;
}
#history-content .sixth {
  padding-top: 20px;
  position: relative;
}
@media (max-width: 768px) {
  #history-content .sixth {
    margin-top: 20px;
  }
}
#history-content .sixth .image {
  position: absolute;
  top: 20px;
}
@media (max-width: 992px) {
  #history-content .sixth .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .sixth {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .sixth p {
  background: url('/images/history/1975.png') no-repeat center;
  background-size: contain;
}
#history-content .seventh {
  padding-top: 20px;
  position: relative;
}
#history-content .seventh .image {
  position: absolute;
  top: 30px;
}
@media (max-width: 992px) {
  #history-content .seventh .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .seventh {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .seventh p {
  background: url('/images/history/1988.png') no-repeat center;
  background-size: contain;
}
#history-content .eigth {
  padding-top: 20px;
  position: relative;
}
#history-content .eigth .image {
  position: absolute;
  top: 80px;
}
@media (max-width: 992px) {
  #history-content .eigth .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .eigth {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .eigth p {
  background: url('/images/history/1993.png') no-repeat center;
  background-size: contain;
}
#history-content .ninth {
  padding-top: 20px;
  position: relative;
}
@media (max-width: 768px) {
  #history-content .ninth {
    margin-top: 40px;
  }
}
#history-content .ninth .image {
  position: absolute;
  top: 20px;
}
@media (max-width: 992px) {
  #history-content .ninth .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .ninth {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .ninth p {
  background: url('/images/history/2013.png') no-repeat center;
  background-size: contain;
}
#history-content .now {
  padding-top: 20px;
  position: relative;
}
#history-content .now .image {
  position: absolute;
  top: 10px;
}
@media (max-width: 992px) {
  #history-content .now .image {
    position: static;
  }
}
@media (max-width: 992px) {
  #history-content .now {
    position: static;
    padding-bottom: 20px;
    border-bottom: 1px solid #ee2629;
  }
}
#history-content .now p {
  background: url('/images/history/now.png') no-repeat center;
  background-size: contain;
}
#hist-blurb p {
  font-size: 28px;
}
#bottom-blurb h3 {
  font-size: 28px;
}
.black {
  color: #242422;
}
.year1889 {
  background: url('/images/history/1889.png');
}
.year1916 {
  background: url('/images/history/1916.png');
}
.year1922 {
  background: url('/images/history/1922.png');
}
.year1947 {
  background: url('/images/history/1947.png');
}
.year1961 {
  background: url('/images/history/1961.png');
}
.year1975 {
  background: url('/images/history/1975.png');
}
.year1988 {
  background: url('/images/history/1988.png');
}
.year1993 {
  background: url('/images/history/1993.png');
}
.year2013 {
  background: url('/images/history/2013.png');
}
.today {
  background: url('/images/history/now.png');
}
.dateBkg {
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .dateBkg {
    background-image: none!important;
  }
  .dateBkg p {
    padding: 0 0 20px 0!important;
  }
}
.dateBkg img {
  margin: auto;
  position: absolute;
  width: 95%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dateBkg p {
  padding: 30px 0 30px 0;
}
.timeline-space {
  margin: auto;
  position: absolute;
  width: 95%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.how-high {
  padding: 30px 0 30px 0;
  visibility: hidden !important;
}
.this-high p {
  visibility: hidden !important;
}
.icon-arrow {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* MEDIA PAGE
-------------------------------------------------- */
#media-banner {
  background: url('/images/media/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  background-position-y: -500px;
  position: relative;
  background-size: cover;
}
@media (max-width: 1600px) and (min-width: 1200px) {
  #media-banner {
    background-position-y: -300px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  #media-banner {
    background-position-y: -100px;
  }
}
@media (max-width: 992px) {
  #media-banner {
    background-position-y: -75px;
  }
}
@media (max-width: 645px) {
  #media-banner {
    background-position-y: -20px;
    height: 300px;
  }
}
@media (max-width: 460px) {
  #media-banner {
    background-position-y: 0px;
  }
}
#media-banner h1 {
  position: absolute;
  color: #FFF;
  top: 40%;
  left: 40%;
  font-size: 70px;
}
@media (max-width: 992px) {
  #media-banner h1 {
    left: 25%;
  }
}
@media (max-width: 580px) {
  #media-banner h1 {
    left: 25%;
  }
}
@media (max-width: 460px) {
  #media-banner h1 {
    left: 0%;
    font-size: 50px;
  }
}
#media-gallery img {
  opacity: 0.8;
}
#media-gallery img:hover {
  opacity: 1.0;
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;

}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
/* BEVERAGE PAGE
-------------------------------------------------- */
.bev-img {
  background: url('/images/products/beverages_header.jpg');
}
.snack-img {
  background: url(http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Snacks%20-%20other/3weIwMNDfn8eYxi1MfFUGhUxlOKo1UyH_OVY53eeNZ0_zps50a56cc2.jpg);
}
#bev-banner {
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
#bev-banner h1 {
  color: #FFF;
  margin: 180px 0 140px 0;
  font-size: 70px;
}
#bevnav {
  background-color: #d7d7d7;
  /*  padding-top:20px;
  padding-bottom:5px;*/
}
#bevnav ul {
  margin-bottom: 0px;
}
#bevnav p {
  /*  border-right: 2px solid #fff;*/
  margin: 0px;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  color: #242422;
  font-size: 14px;
}
#bevnav ul li:last-child p {
  margin: 0px;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
}
#bevnav ul li {
  display: inline;
  font-size: 15px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 15px;
}
@media (max-width: 992px) and (min-width: 767px) {
  #bevnav ul li {
    width: 30%;
  }
}
@media (max-width: 767px) {
  #bevnav ul li {
    width: 40%;
  }
}
.info-border {
  border: 4px solid red;
  padding: 8px;
  font-size: 10px;
  height: 229px !important;
}
/* CAREERS PAGE
-------------------------------------------------- */
.file-input-wrapper {
  overflow: hidden;
  position: relative;
}
.file-input-wrapper > input[type="file"] {
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 200px;
  position: absolute;
}
#careers-banner {
  background: url('/images/careers/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
#careers-banner h1 {
  color: #FFF;
  font-size: 70px;
}
#careers-banner p {
  color: #FFF;
}
.benefit {
  border: 4px solid #d1d3d4;
  padding: 25px;
}
.nav-area {
  margin-top: 20px;
}
#jobs #header h2:first-child {
  color: #000;
}
.joblist {
  padding: 30px 0px;
  border-bottom: 2px solid #00b3bd;
}
#careers-banner h1 {
  margin: 60px 0 20px 0;
  position: relative;
  left: 0!important;
}
#apply input[type=number]::-webkit-inner-spin-button,
#apply input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#apply label {
  display: block;
  font-family: 'brandon_grotesque_regularRg';
}
#apply select,
#apply select {
  font-family: 'brandon_grotesque_regularRg';
}
#apply input,
#apply select,
#apply textarea {
  background-color: #d3d3d3;
  border-radius: 5px;
  width: 90%;
  display: block;
  border: none;
}
#apply input,
#apply select {
  height: 40px;
}
#apply label span {
  color: #ee2629;
}
#apply .contact-btn {
  width: 30%;
  height: auto!important;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffcc00;
  font-family: 'brandon_grotesque_regularRg';
  color: white;
}
.no-section {
  padding: 0 0 60px 0;
}
.benefit div {
  height: 80px;
}
@media (max-width: 767px) {
  .benefit-container {
    padding-bottom: 10px;
  }
  .benefit div {
    height: auto;
  }
}
textarea {
  resize: none;
}
/* CONTACT PAGE
-------------------------------------------------- */
#contact-banner {
  background: url('/images/contact/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  background-position-y: -500px;
  position: relative;
  background-size: cover;
}
@media (max-width: 1600px) and (min-width: 1200px) {
  #contact-banner {
    background-position-y: -300px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  #contact-banner {
    background-position-y: -100px;
  }
}
@media (max-width: 992px) {
  #contact-banner {
    background-position-y: -75px;
  }
}
@media (max-width: 645px) {
  #contact-banner {
    background-position-y: -20px;
    height: 300px;
  }
}
@media (max-width: 460px) {
  #contact-banner {
    background-position-y: 0px;
  }
}
#contact-banner h1 {
  position: absolute;
  color: #FFF;
  top: 40%;
  left: 35%;
  font-size: 70px;
}
@media (max-width: 992px) {
  #contact-banner h1 {
    left: 25%;
  }
}
@media (max-width: 580px) {
  #contact-banner h1 {
    left: 25%;
  }
}
@media (max-width: 460px) {
  #contact-banner h1 {
    left: 0%;
    font-size: 50px;
  }
}
.btn-upload {
  width: 30%;
  height: auto!important;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ee2629;
  font-family: 'brandon_grotesque_regularRg';
  color: white;
}
/* OTHER
-------------------------------------------------- */
.alert-phone {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.9);
  margin-top: 10px;
}
.red {
  color: #ee2629;
}
.yelorange {
  border-top: 4px solid #ffcc00;
}
.bg-red {
  background-color: #ee2629 !important;
}
.opaque {
  background-color: rgba(255, 0, 0, 0) !important;
}
/* FOOTER
-------------------------------------------------- */
#footer {
  height: auto!important;
}
@media (min-width: 767px) {
  .footer-text {
    float: right!important;
  }
}
.footer-social {
  padding: 0px;
}
.footer-contact-btn {
  background-color: #3b4544;
  padding: 13px;
  border-radius: 100%;
}
.footer-contact-btn a {
  color: #242422;
  font-family: brandon_grotesque_regularRg !important;
}
.partner-display .center-img {
  max-width: 50%;
}
.center-img {
  display: inline!important;
  height: auto;
}
.partner-indiv {
  margin-bottom: 30px;
}
#footer {
  background-color: #242422;
  padding: 30px 0px;
  height: 190px;
}
#footer-spacing {
  margin-top: 190px;
}
@media (max-width: 400px) {
  #footer {
    height: auto;
  }
  #footer-spacing {
    margin-top: 370px;
  }
}
.footer-nav li {
  margin-bottom: 5px;
}
.footer-nav li a {
  color: #d3d3d3;
  font-size: 18px;
  font-family: brandon_grotesque_regularRg !important;
}
.footer-nav li a:hover {
  color: red;
  font-size: 20px;
}
.footer-text {
  font-size: 13px;
  color: #d3d3d3;
}
.footer-contact-button {
  background-color: #3b4544;
  padding: 10px;
  border-radius: 26px;
}
.footer-contact-button a {
  color: #d3d3d3;
  font-family: brandon_grotesque_regularRg !important;
}
.footer-contact-button a:hover {
  color: red;
}
ul.footer-social li {
  display: inline;
}
/* Mobile */
#mobile-hero {
  background-image: url(../images/home/heromobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 380px;
}
@media (max-width: 767px) {
  .mobile-spacing {
    padding-bottom: 10px;
  }
}
#blurb {
  height: auto!important;
}
.position-arrows-right {
  position: absolute;
  left: 50%;
}
.position-arrows-left {
  position: absolute;
  rigth: 50%;
}
