<section id="about-banner">
	<div class="container">
		<div class="row text-center">
		<br>
			<h1>ABOUT US</h1>
			<p class="lead">"At Mahaska, we venerate a rich American tradition that boasts generations of bottling in our blood. However, the deference of Mahaska to history does not stop us from continuing to achieve the forward motion, innovation, and progress that is responsible for sustaining our enterprise through generations. These core values were the hallmarks of the leader from whom we take our namesake, Chief Mahaska."
			</p>
			<p> - Branden Muhl, CEO</p>
		</div>
	</div>
</section>

<section id="profile">
	<div class="container">
		<div class="row">
			<div ng-repeat="officer in officers" class="col-sm-6">
				<div class="spec-bio">
					<a href="/#/about/{{officer.link}}">
						<img src="{{officer.img}}" class="img-responsive">
						<h3>{{name(officer.link)}}, {{officer.title}}</h3>
					</a>
					<p>{{officer.content[0] | truncate: 300}}
					</p>
					<a href="/#/about/{{officer.link}}" class="btn btn-primary btn-about">READ MORE</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="locations">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>CORPORATE LOCATIONS</h2>
				<div class="list">
					<ul>
						<li><h4>Iowa</h4> 1407 17th Avenue East, Oskaloosa, IA 52577</li>
						<li><h4>Kansas</h4> 604 N. 9th Street, Salina, KS 67401</li>
						<li><h4>Nebraska</h4> 1106 Alaska Avenue, Norfolk, NE 68701</li>
						<li><h4>Texas</h4> 2900 McKinnon Street, Dallas,  TX 75201</li>
						<li><h4>New York (TYR Endurance Sport / Odin Brands)</h4> 1441 Broadway, New York, NY 10018</li>
						<li><h4>California (TYR Endurance Sport / Odin Brands)</h4> 1790 Apollo Court, Seal Beach, CA 90740</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<h2>OUR SOCIAL MEDIA</h2>
				<p>We're social and we'd love to hear from you! Feel free to send us an email, find us on Google Plus, follow on Twitter and join us on Facebok.</p>
				<ul class="social">
					<li>
						<a href="http://www.facebook.com/mahaskabottling" target="_blank">
						<img src="/images/about/facebook.png" alt="" class="img-responsive">
						</a>
					</li>
					<li>
						<a href="https://twitter.com/MahaskaBottling" target="_blank">
						<img src="/images/about/twitter.png" alt="" class="img-responsive">
						</a>
					</li>
					<li>
						<a href="http://instagram.com/mahaska_bottling" target="_blank">
						<img src="/images/about/instagram.png" alt="" class="img-responsive">
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company/mahaska-bottling/" target="_blank">
						<img src="/images/about/linkedin.png" alt="" class="img-responsive">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>