<section id="contact-banner">
	<div class="container">
		<div class="row">
			<h1 class="text-center">CONTACT US</h1>
		</div>
	</div>
</section>
<div class="container">
	<section id="apply">
		<div class="row">
			<div class="col-sm-8">
				<form name="contactForm" ng-submit="postEmail(contact)" novalidate>
					<label for="">Name:<span>*</span></label>
					<input type="text" name="Name" ng-model="contact.name"><br>
					<label for="">Email:<span>*</span></label>
					<input type="email" name="Email" ng-model="contact.email"><br>
					<label for="">Phone:<span>*</span></label>
					<input type="text" name="Phone" ng-model="contact.phone" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" required>
					<span class="alert alert-phone" ng-show="contactForm.Phone.$error.pattern"><i class="red fa fa-exclamation"></i> Enter Valid Number ex.555-555-5555</span><br>
					<label for="">Reason for Contact:<span>*</span></label>
					<select ng-model="contact.reason">
						<option value="Sales">Sales</option>
						<option value="General">General</option>
						<option value="Administration">Administration</option>
						<option value="Warehouse">Warehouse</option>
						<option value="Partners">Partners</option>
						<option value="Vending">Vending</option>
					</select><br>
					<label for="">Message: </label>
					<textarea name="Message" ng-model="contact.message" rows="10"></textarea><br>
					<input type="submit" value="Submit" class="contact-btn">
				</form>
			</div>
			<div class="col-sm-4">
				<p>For information for Mahaska Bottling Company, please call us</p>
				<p>(641) 673-3481 or (800) 747-3481</p>
				<hr class="yelorange">
				<p>If you would like to leave feedback, please fill out the form.</p>
				<ul class="social1">
					<li>
						<a href="http://instagram.com/mahaska_bottling" target="_blank">
						<img src="../images/about/instagram.png" alt="" class="img-responsive">
						</a>
					</li>
					<li><a href="https://www.linkedin.com/company/mahaska-bottling/" target="_blank">
						<img src="../images/about/linkedin.png" alt="" class="img-responsive">
						</a></li>
					<li>
						<a href="https://twitter.com/MahaskaBottling" target="_blank">
						<img src="../images/about/twitter.png" alt="" class="img-responsive">
						</a>
					</li>
				</ul>
				<ul class="social1">
					<li>
						<a href="http://www.facebook.com/mahaska" target="_blank">
						<img src="../images/about/facebook.png" alt="" class="img-responsive">
						</a>
					</li>
				</ul>
				<img src="../images/careers/arrows.png" alt="" class="img-responsive hidden-xs">
			</div>
		</div>
	</section>
</div>
