<section id="distribution-banner">
	<div class="container">
		<div class="row">
			<h1 class="text-center">DISTRIBUTION</h1>
		</div>
	</div>
</section>

<section id="distribution-map" class="hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>OUR REACH</h2>
				<ul>
					<li>California (CA)</li>
					<li>Illinois (IL)</li>
					<li>Iowa (IA)</li>
					<li>Kansas (KS)</li>
					<li>Missouri (MO)</li>
					<li>Nebraska (NE)</li>
					<li>New York (NY)</li>
					<li>South Dakota (SD)</li>
					<li>Texas (TX)</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="distribution-map-mobile" class="visible-xs">
	<img src="../images/distribution/chalkboardmobile.jpg" alt="" class="img-responsive">
</section>

<section id="distribution-parallax">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<p>We offer a wide array of our proprietary / partner brands, products, services, and distribution in Iowa, Kansas, Nebraska, and parts of Illinois, Missouri, and South Dakota. We offer our proprietary brands and certain products and services in California, New York, and Texas. Our proprietary brands, other products, and services are available anywhere in the continental U.S. upon specific request.</p>
			</div>
		</div>
	</div>
</section>

<section id="distribution-contact">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>To contact us about distribution, please use our contact form <a ng-href="#/contact">here</a>. Certain products are available in full truckload quantities anywhere in the continental United States. </h2>
			</div>
		</div>
	</div>
</section>