<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center visible-xs">
        <a href="/#/">
        <img class="img-thumbnail" src="/images/home/mahaska_historical_logo.png"/>
        </a>
        <br>
      </div>
      <div class="col-xs-6 visible-xs">
        <ul class="footer-nav">
          <li><a href="/#/">HOME</a></li>
          <li><a href="/#/products">PRODUCTS</a></li>
          <li><a href="/#/services">SERVICES</a></li>
          <li><a href="/#/distribution">DISTRIBUTION</a></li>
          <li><a href="/#/partners">PARTNERS</a></li>
          <!-- <li><a href="/#/about">ABOUT US</a></li> -->
        </ul>
      </div>
      <div class="col-xs-6 visible-xs">
        <ul class="footer-nav">
          <!-- <li><a href="/#/partners">PARTNERS</a></li> -->
          <li><a href="/#/about">ABOUT US</a></li>
          <li><a href="/#/history">HISTORY</a></li>
          <!-- <li><a href="/#/media">MEDIA</a></li> -->
          <li><a href="/#/careers">CAREERS</a></li>
          <li><a href="/#/contact">CONTACT</a></li>
          <!-- <li><a href="/#/store">STORE</a></li> -->
        </ul>
      </div>
      <div class="col-sm-2 hidden-xs">
        <ul class="footer-nav">
          <li><a href="/#/">HOME</a></li>
          <li><a href="/#/products">PRODUCTS</a></li>
          <li><a href="/#/services">SERVICES</a></li>
          <li><a href="/#/distribution">DISTRIBUTION</a></li>
          <li><a href="/#/partners">PARTNERS</a></li>
          <!-- <li><a href="/#/about">ABOUT US</a></li> -->
        </ul>
      </div>
      <div class="col-sm-2 hidden-xs">
        <ul class="footer-nav">
          <!-- <li><a href="/#/partners">PARTNERS</a></li> -->
          <li><a href="/#/about">ABOUT US</a></li>
          <li><a href="/#/history">HISTORY</a></li>
          <!-- <li><a href="/#/media">MEDIA</a></li> -->
          <li><a href="/#/careers">CAREERS</a></li>
          <li><a href="/#/contact">CONTACT</a></li>
          <!-- <li><a href="/#/store">STORE</a></li> -->
        </ul>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2 text-center hidden-xs">
        <a href="/#/">
        <img class="img-thumbnail" src="/images/home/mahaska_historical_logo.png"/>
        </a>
      </div>

      <div class="col-sm-5 col-xs-12">
        <ul class="footer-social text-right">
          <li><a href="http://www.facebook.com/mahaska" target="_blank"><img src="/images/home/facebook.png"/></a></li>
          <li><a href="https://twitter.com/MahaskaBottling" target="_blank"><img src="/images/home/twitter.png"/></a></li>
          <li><a href="http://instagram.com/mahaska_bottling" target="_blank"><img src="/images/home/instagram.png"/></a></li>
          <li><a href="https://www.linkedin.com/company/mahaska-bottling/" target="_blank"><img src="/images/home/linkedin.png"/></a></li>
          <li><a href="/#/contact" target="_blank"><img src="/images/home/contact.png"/></a></li>
        </ul>
        <p class="footer-text text-center"> COPYRIGHT © 2014 MAHASKA BOTTLING COMPANY, INC.</p>
      </div>
  </div>
</div>
