<section id="history-banner">
	<div class="container">
		<div class="row">
			<h1 class="text-center">HISTORY</h1>
		</div>
	</div>
</section>
<section id="history-content">
	<div class="container">
	<br>
		<div id="hist-blurb" class="row">
			<div class="col-xs-12 text-center">
				<p class="black">Mahaska Bottling Company has a long family history that dates back to the early 1800’s.</p>
			</div>
		</div>
		<section id="history-blocks">
			<div class="events">
				<div class="row" ng-repeat="event in events">
					<div class="col-md-6 hidden-xs hidden-sm" ng-if="$index%2==0">
						<p class="how-high">{{ event.content }}</p>
						<img src="{{ event.img }}" alt="" class="img-responsive timeline-space">
					</div>
					<div class="col-xs-12 visible-xs visible-sm text-center">
						<img src="{{ event.mobile }}" alt="" class="img-thumbnail">
					</div>
					<!-- <div class="col-md-2 hidden-xs hidden-sm text-center" ng-if="$index%2==0">
						<div class="this-high hidden">
							<p>{{ event.content }}</p>
							<img src="../images/history/icon_02.png" class="img-responsive icon-arrow">
						</div>
					</div>  -->
					<!-- <div class="col-md-5">
						<div class="dateBkg" ng-class="event.dateBkg">
							<p>{{ event.content }}</p>
							<hr class="visible-xs visible-sm">
						</div>
					</div> -->
					<div class="col-md-6 col-xs-12">
						<div class="dateBkg">
							<img src="{{event.date}}" class="hidden-xs hidden-sm">
							<p>{{ event.content }}</p>
							<hr class="visible-xs visible-sm">
						</div>
						<div ng-if="$index===8">
							<br>
						</div>
					</div>
					<!-- <div class="col-md-2 hidden-xs hidden-sm text-center" ng-if="$index%2!=0">
						<div class="this-high hidden">
							<p>{{ event.content }}</p>
							<img src="../images/history/icon_01.png" class="img-responsive icon-arrow">
						</div>
					</div> -->
					<div class="col-md-6 hidden-xs hidden-sm" ng-if="$index%2!=0">
						<p class="how-high">{{ event.content }}</p>
						<img src="{{ event.img }}" alt="" class="img-responsive timeline-space">
					</div>
				</div>
			</div>
		</section>
		<div class="row">
			<div class="col-sm-2 hidden-xs"></div>
			<div id="bottom-blurb" class="col-xs-12 col-sm-8 text-center">
				<h3 class="black">MAHASKA LOOKS FORWARD TO THE FUTURE AND WILL CONTINUE TO DRIVE INNOVATION AND PROGRESS TO SUSTAIN OUR ENTERPRISE FOR GENERATIONS TO COME.</h3>
				<img src="../images/history/line.png" alt="" >
				<br><br>
			</div>
			<div class="col-sm-2 hidden-xs"></div>
		</div>
	</div>
</section>
