<!-- Fixed navbar -->
<div ng-controller="MainCtrl">
<div class="navbar navbar-default navbar-fixed-top scroll" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="img-responsive" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/logo_zps71293b31.png"></a>
            <!-- <a class="navbar-brand" href="#"><img class="img-responsive" src="/images/logo2.png"></a> -->
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/#/products">PRODUCTS</a></li>
                <li><a href="/#/services">SERVICES</a></li>
                <li><a href="/#/distribution">DISTRIBUTION</a></li>
                <li><a href="/#/partners">PARTNERS</a></li>
                <li><a href="/#/about">ABOUT US</a></li>
                <li><a href="/#/history">HISTORY</a></li>
                <!-- <li><a href="/#/media">MEDIA</a></li> -->
                <li><a href="/#/careers">CAREERS</a></li>
                <li><a href="/#/contact">CONTACT US</a></li>
                <!-- <li><a href="/#/store">STORE</a></li> -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
</div>
