<section id="bev-banner" ng-class="{'bev-img':  path==='beverages', 'snack-img': path==='snacks'}">
  <div class="container">
    <div class="row">
      <h1 class="text-center"><span ng-if="path==='beverages'">BEVERAGES</span><span ng-if="path==='snacks'">SNACKS</span></h1>
    </div>
  </div>
</section>
<div id="bevnav">
  <div class="container">
    <div class="row">
        <ul ng-if="path==='beverages'" class="product-tabs text-center">
          <li ng-class="{curr: active===null}" ng-click="narrow(null)"><p>All</p></li>
          <li ng-class="{curr: active==='Coffee'}" ng-click="narrow({category: 'Coffee'})"><p>COFFEE</p></li>
          <li ng-class="{curr: active==='Energy Drink'}" ng-click="narrow({category: 'Energy Drink'})"><p>ENERGY</p></li>
          <li ng-class="{curr: active==='Juice'}" ng-click="narrow({category: 'Juice'})"><p>JUICE</p></li>
          <li ng-class="{curr: active==='Mixer'}" ng-click="narrow({category: 'Mixer'})"><p>MIXER</p></li>
          <li ng-class="{curr: active==='Protein Drink'}" ng-click="narrow({category: 'Protein Drink'})"><p>PROTEIN DRINK</p></li>
          <li ng-class="{curr: active==='Soda Water'}" ng-click="narrow({category: 'Soda Water'})"><p>SODA WATER</p></li>
          <li ng-class="{curr: active==='Soft Drink'}" ng-click="narrow({category: 'Soft Drink'})"><p>SOFT DRINK</p></li>
          <li ng-class="{curr: active==='Sports Drink'}" ng-click="narrow({category: 'Sports Drink'})"><p>SPORTS</p></li>
          <li ng-class="{curr: active==='Syrup'}" ng-click="narrow({category: 'Syrup'})"><p>SYRUP</p></li>
          <li ng-class="{curr: active==='Teat'}" ng-click="narrow({category: 'Tea'})"><p>TEA</p></li>
          <li ng-class="{curr: active==='Water'}" ng-click="narrow({category: 'Water'})"><p>WATER</p></li>
        </ul>
        <ul ng-if="path==='snacks'" class="product-tabs text-center">
          <li ng-class="{curr: active===null}" ng-click="narrowS(null)"><p>ALL</p></li>
          <li ng-class="{curr: active==='Candy'}" ng-click="narrowS({category: 'Candy'})"><p>CANDY</p></li>
          <li ng-class="{curr: active==='Pastries'}" ng-click="narrowS({category: 'Pastries'})"><p>PASTRIES</p></li>
          <li ng-class="{curr: active==='Dairy'}" ng-click="narrowS({category: 'Dairy'})"><p>DAIRY</p></li>
          <li ng-class="{curr: active==='CEREAL / BREAKFAST'}" ng-click="narrowS({category: 'CEREAL / BREAKFAST'})"><p>CEREAL / BREAKFAST</p></li>
          <li ng-class="{curr: active==='Sandwiches'}" ng-click="narrowS({category: 'Sandwiches'})"><p>SANDWICHES</p></li>
          <li ng-class="{curr: active==='PIZZA / BURRITOS / LUNCHABLES'}" ng-click="narrowS({category: 'PIZZA / BURRITOS / LUNCHABLES'})"><p>PIZZA / BURRITOS / LUNCHABLES</p></li>
          <li ng-class="{curr: active==='COOKIES / CRACKERS / BARS'}" ng-click="narrowS({category: 'COOKIES / CRACKERS / BARS'})"><p>COOKIES / CRACKERS / BARS</p></li>
          <li ng-class="{curr: active==='Chips'}" ng-click="narrowS({category: 'Chips'})"><p>CHIPS</p></li>
          <li ng-class="{curr: active==='Other'}" ng-click="narrowS({category: 'Other'})"><p>OTHER</p></li>
        </ul>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 animated" ng-repeat="bev in beverages | filter:bevFilter" ng-class="{fadeInLeft: equal===true}" ng-if="path==='beverages'" ng-mouseover="show(bev)"  ng-mouseleave="unshow(bev)">
          <div ng-class="{fadeIn: showSlide === true}" class="animated detail-list">
            <img src="{{bev.src}}" ng-show="prodShow" class="width150" />
            <div class="info-border" ng-show="showSlide">
            <ul class="detail-list">
              <li class="detail" ng-if="bev.type1 != '' ">{{bev.type1}}</li>
              <li class="detail" ng-if="bev.type2 != '' ">{{bev.type2}}</li>
              <li class="detail" ng-if="bev.type3 != '' ">{{bev.type3}}</li>
              <li class="detail" ng-if="bev.type4 != '' ">{{bev.type4}}</li>
              <li class="detail" ng-if="bev.type5 != '' ">{{bev.type5}}</li>
              <li class="detail" ng-if="bev.type6 != '' ">{{bev.type6}}</li>
              <li class="detail" ng-if="bev.type7 != '' ">{{bev.type7}}</li>
              <li class="detail" ng-if="bev.type8 != '' ">{{bev.type8}}</li>
              <li class="detail" ng-if="bev.type9 != '' ">{{bev.type9}}</li>
              <li class="detail" ng-if="bev.type10 != '' ">{{bev.type10}}</li>
              <li class="detail" ng-if="bev.type11 != '' ">{{bev.type11}}</li>
              <li class="detail" ng-if="bev.type12 != '' ">{{bev.type12}}</li>
              <li class="detail" ng-if="bev.type13 != '' ">{{bev.type13}}</li>
              <li class="detail" ng-if="bev.type1 == ''">{{bev.description}}</li>
            </ul>
            </div>
          </div>

          <br><br><br>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 animated" ng-repeat="snack in snacks | filter:snackFilter" ng-class="{fadeInRight: equal===true}" ng-if="path==='snacks'" ng-mouseover="show(snack)"  ng-mouseleave="unshow(snack)">
          <div ng-class="{fadeIn: showSlide === true}" class="animated detail-list">
            <img src="{{snack['prod']}}" ng-show="prodShow" class="width150" />
            <div class="info-border" ng-show="showSlide">
            <div class="text-center">
              <img src="{{snack.manu}}" alt="" class="img-responsive center-image">
            </div>
            <ul class="detail-list">
              <li class="detail" ng-if="snack.type1 != '' ">{{snack.type1}}</li>
              <li class="detail" ng-if="snack.type2 != '' ">{{snack.type2}}</li>
              <li class="detail" ng-if="snack.type3 != '' ">{{snack.type3}}</li>
            </ul>
            </div>
          </div>

          <br><br><br>
        </div>
    </div>
      </div>
    </div>
  </div>
</section>
