<section id="product-list" class="first">
	<div class="container">
		<a href="#/products/beverages">
			<div class="col-sm-6">
				<div class="beverages">
					<h1>BEVERAGES</h1>
				</div>
			</div>
		</a>
		<a href="#/products/snacks">
			<div class="col-sm-6">
				<div class="snacks">
					<h1 class="hidden-xs">SNACKS</h1>
					<h1 class="text-center visible-xs">SNACKS</h1>
				</div>
			</div>
		</a>
	</div>
</section>

<section id="product-parallax">
	<div class="container">
		<br><br><br>
		<p class="text-center lead">Mahaska is a 4th Generation; family owned and operated Bottling and Snack vending company. We are a full service company that prides itself in offering the highest quality and variety of products available on the market. We believe that name brands and local brands can and should exist side by side, supporting local businesses. Please take a look at the variety of products we offer, and feel free to <a href="#/contact">contact us</a> for more information.</p>
	</div>
</section>

<section id="our-products">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>OUR PRODUCTS</h1>
				<a ng-href="#/products/beverages">BEVERAGES | </a><a ng-href="#/products/snacks">SNACKS</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-4 col-md-2 text-center" ng-repeat="products in productsTop">
				<img class="center-img img-responsive" src="{{products.src}}">
			</div>
		</div>
	</div>
</section>
