<section id="service-banner">
	<div class="container">
		<div class="row">
			<h1 class="text-center">SERVICES</h1>
		</div>
	</div>
</section>

<div id="subnav">
	<div class="container">
		<div class="row">
			<div class="navwrap">
				<div class="navlist">
					<div class="spacer"></div>
					<div class="stickynavwrapper">
						<ul>
							<li><a href="#bottling" du-smooth-scroll><div class="wrap"><img src="/images/services/bottling_icon.png" alt="Bottling"></div><p>Bottling</p></a></li>
							<li><a href="#brand" du-smooth-scroll><div class="wrap"><img src="/images/services/branddev_icon.png" alt="Brand Dev"></div><p>Brand Dev</p></a></li>
							<li><a href="#distribution" du-smooth-scroll><div class="wrap"><img src="/images/services/distribution_icon.png" alt="Distribution"></div><p>Distribution</p></a></li>
							<li><a href="#logistics" du-smooth-scroll><div class="wrap"><img src="/images/services/logistics_icon.png" alt="Logistics"></div><p>Logistics</p></a></li>
							<li><a href="#marketing" du-smooth-scroll><div class="wrap"><img src="/images/services/marketing_icon.png" alt="Marketing"></div><p>Marketing</p></a></li>
							<li><a href="#media" du-smooth-scroll><div class="wrap"><img src="/images/services/media_icon.png" alt="Media"></div><p>Media</p></a></li>
							<li><a href="#vending" du-smooth-scroll><div class="wrap"><img src="/images/services/vending_icon.png" alt="Vending"></div><p>Vending</p></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<section id="services-content">
	<div id="bottling">
		<div class="visible-xs mobile-scroll"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="text-block">
						<h1>BOTTLING</h1>
						<p>PepsiCo (PEP) & Dr Pepper Snapple Group (DPSG) franchise bottler & distributor with cooperative beverage manufacturing assets.</p>
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<img class="img-responsive" src="/images/services/bottling.png">
				</div>
			</div>
		</div>
	</div>
	<div id="brand">
		<div class="visible-xs mobile-scroll"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-5 hidden-xs">
					<img class="img-responsive" src="/images/services/brand.png">
				</div>
				<div class="col-sm-6 col-sm-offset-1">
					<div class="text-block">
						<h1>BRAND DEVELOPMENT</h1>
						<p>End-to-end beverage product development & formulation, manufacturing, marketing, and distribution for Mahaska proprietary, partner, and independent brands.</p>
					</div>
				</div>
				<div class="col-sm-5 visible-xs">
					<img class="img-responsive" src="/images/services/brand.png">
				</div>
			</div>
		</div>
	</div>
	<div id="distribution">
		<div class="visible-xs mobile-scroll"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="text-block">
						<h1>DISTRIBUTION</h1>
						<p>Broad distribution platform encompassing beverages, food, and consumer products.</p>
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<img class="img-responsive" src="/images/services/distribution.png">
				</div>

			</div>
		</div>
	</div>
	<div id="logistics">
		<div class="visible-xs mobile-scroll"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-5 hidden-xs">
					<img class="img-responsive" src="/images/services/logistics.png">
				</div>
				<div class="col-sm-6 col-sm-offset-1">
					<div class="text-block">
						<h1>LOGISTICS</h1>
						<p>LTL/FTL carrier, freight forwarder, and logistics broker.</p>
					</div>
				</div>
				<div class="col-sm-5 visible-xs">
					<img class="img-responsive" src="/images/services/logistics.png">
				</div>
			</div>
		</div>
	</div>
	<div id="marketing">
		<div class="visible-xs mobile-scroll"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="text-block">
						<h1>MARKETING</h1>
						<p>Regional & local marketing services for Mahaska proprietary, partner, and independent brands encompassing a wide breadth of corporate & /chain store level (including national/regional) account calls & in-store marketing all the way down to grassroots local efforts & event activations.</p>
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<img class="img-responsive" src="/images/services/marketing.png">
				</div>
			</div>
		</div>
	</div>
	<div id="media">
		<div class="visible-xs mobile-scroll"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-5 hidden-xs">
					<img class="img-responsive" src="/images/services/media.png">
				</div>
				<div class="col-sm-6 col-sm-offset-1">
					<div class="text-block">
						<h1>MEDIA</h1>
						<p>CBS affiliate terrestrial AM/FM radio operator KBOE Hot Country Radio.</p>
					</div>
				</div>
				<div class="col-sm-5 visible-xs">
					<img class="img-responsive" src="/images/services/media.png">
				</div>
			</div>
		</div>
	</div>
	<div id="vending">
		<div class="visible-xs mobile-scroll"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="text-block">
						<h1>VENDOR</h1>
						<p>Full-line vending service provider offering beverage, snack, & miscellaneous items for corporate & individual accounts.</p>
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<img class="img-responsive" src="/images/services/vending.png">
				</div>
			</div>
		</div>
	</div>
</section>

<section id="services-partners">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>PARTNERS</h1>
			</div>
		</div>

		<div owl class="owl-carousel">
				<div class="item text-center" ng-repeat="partner in partners">
						<img class="img-thumbnail" src="{{partner.src}}">
				</div>
		</div>
	</div>
</section>
