<aside class="col-sm-4 sidebar lp30 hidden-xs">
            <!-- <div class="sidebox widget">
              <form class="searchform" method="get" action="/search" role="search">
                <input type="text" id="s2" name="q" placeholder="Search..."/>
                <button type="submit" class="btn btn-default">Find</button>
              </form>
            </div> -->
            
            <div id="popular" class="sidebox widget">
              <h2 class="widget-title">Popular Posts</h2>
              <ul class="post-list" ng-controller="allBlogs">
                <li ng-repeat="blog in blogs | orderBy:'-votes' | limitTo:4" ng-class="{last: $last}">
                  <div class="icon-overlay"> <a href="#/blog/{{blog.id}}"><img class="img-responsive" src="{{blog.img}}" alt="" /> </a> </div>
                  <div class="meta">
                    <h6><a href="#/blog/{{blog.id}}">{{blog.title}}</a></h6>
                    <em>{{blog.date | date:'dd MMM yyyy'}}</em> </div>
                  </li>
                </ul>
                <!-- /.post-list -->

              </div>

              <!-- /.widget -->
              <div id="archive" class="sidebox widget" angular-follow follow-point="50" ng-controller="archiveCtrl">
                <h2 class="widget-title">Archive</h2>
                <accordion close-others="true">
                  <accordion-group ng-repeat="month in months" ng-if="month.length > 0" heading="">
                    <accordion-heading>{{getText($index)}}</accordion-heading>
                    <!-- <p ng-repeat="blog in month"><a href="#/blog/{{blog.id}}">{{blog.title}}</a></p> -->
                    <ul class="post-list">
                      <li ng-repeat="blog in month">
                        <div class="icon-overlay"> 
                          <a href="#/blog/{{blog.id}}"><img class="img-responsive" src="{{blog.img}}" alt="" /> </a> 
                        </div>
                        <div class="meta">
                    <h6><a href="#/blog/{{blog.id}}">{{blog.title}}</a></h6>
                    <em>{{blog.date | date:'dd MMM yyyy'}}</em> </div>
                      </li>
                    </ul>
                    
                  
                  </accordion-group>
                </accordion>
              </div>
            </aside>