<!doctype html> 
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/summernote.min.css">
    <!-- endbuild -->
  </head>
  <body ng-app="hrdashApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- BEGIN TOP NAV -->
    <div class="top-navbar" ng-show="loggedIn()">
        <div class="top-navbar-inner">

    <!-- Begin Logo brand -->
    <div class="logo-brand text-center">
        <a href="#/"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/logo_zps71293b31.png~original" class="img-responsive" style="display:inline;"/></a>
    </div><!-- /.logo-brand -->
    <!-- End Logo brand -->

    <div class="top-nav-content">

        <!-- Begin button sidebar right toggle -->
        <div class="btn-collapse-sidebar-right" sidebar>
            <i class="fa fa-bars"></i>
        </div><!-- /.btn-collapse-sidebar-right -->
        <!-- End button sidebar right toggle -->

        <!-- Begin button nav toggle -->
        <div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
            <i class="fa fa-plus icon-plus"></i>
        </div><!-- /.btn-collapse-sidebar-right -->
        <!-- End button nav toggle -->


    <!-- Begin user session nav -->
    <ul class="nav-user navbar-right">
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                Hi, <strong ng-cloak>{{ currentUser.get("username") }}</strong>
            </a>
            <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                <!--<li><a href="#fakelink">Account</a></li>-->
                <li ng-cloak ng-show="loggedIn()"><a href="" ng-click="logout()">Log out</a></li>
            </ul>
        </li>
    </ul>
    <!-- End user session nav -->

    <!-- Begin Collapse menu nav -->
    <div class="collapse navbar-collapse" id="main-fixed-nav">
    <!-- Begin nav search form -->
    <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
            <!--<input ng-model="global.search" type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
    <!--</form>-->
    <!-- End nav search form -->
    <ul class="nav navbar-nav navbar-left">
        <li><a href="#/jobs">Jobs</a></li>
        <li><a href="#/applications">Applications</a></li>
        <li><a href="#/blogs">Blogs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

    <!-- Begin nav message -->
    <li class="dropdown" ng-controller="ApplicationsCtrl">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <span class="badge badge-success icon-count">{{appcount}}</span>
            <i class="fa fa-envelope"></i>
        </a>
        <ul class="dropdown-menu square margin-list-rounded with-triangle" >
            <li>
                <div class="nav-dropdown-heading">
                    Recent Applications
                </div><!-- /.nav-dropdown-heading -->
                <div class="nav-dropdown-content scroll-nav-dropdown">
                    <ul>
                        <li ng-click="view($index)" class="unread" ng-repeat="app in applications"><a href="">
                            <i class="fa fa-bookmark-o ava-sidebar"></i>
                            {{app.attributes.name}} - Job ID # {{app.attributes.job}}
                            <span class="small-caps">{{app.createdAt | date}}</span>
                        </a></li>
                    </ul>
                </div><!-- /.nav-dropdown-content scroll-nav-dropdown -->
                <a href="#/jobs" class="btn btn-primary btn-square btn-block">See all</a>
            </li>
        </ul>
    </li>
    <!-- End nav message -->
    </ul>
    </div><!-- /.navbar-collapse -->
    <!-- End Collapse menu nav -->
    </div><!-- /.top-nav-content -->
    </div><!-- /.top-navbar-inner -->
    </div><!-- /.top-navbar -->
    <!-- END TOP NAV -->

    <div ng-show="loggedIn()" ng-include="'partials/sidebar-right.html'"></div>





      <div class="row">
          <div class="full-view" ng-view=""></div>
      </div>
        <!-- BEGIN FOOTER -->
        <footer>
            &copy; 2014 <a href="http://anthro.is">anthro.is</a><br />
            Powered by mochi.io
        </footer>
        <!-- END FOOTER -->


    <!--[if lt IE 9]>
    <script src="scripts/vendor/es5-shim.js"></script>
    <script src="scripts/vendor/json3.min.js"></script>
    <![endif]-->


        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <!--Bower Components Go!-->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="scripts/vendor/angular.js"></script>
        <script src="scripts/vendor/json3.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="scripts/vendor/angular-route.js"></script>
        <script src="scripts/vendor/angular-resource.js"></script>
        <script src="scripts/vendor/underscore.js"></script>
        <script src="scripts/vendor/underscore.string.min.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.2.15.js"></script>
        <script src="scripts/vendor/oauth.js"></script>
        <script src="scripts/vendor/summernote.min.js"></script>
        <script src="scripts/vendor/angular-summernote.min.js"></script>
        <!-- End Bower Components -->

        <!-- Angular Components -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/weatherCtrl.js"></script>
        <script src="scripts/controllers/loginCtrl.js"></script>
        <script src="scripts/controllers/jobSingleCtrl.js"></script>
        <script src="scripts/controllers/openingList.js"></script>
        <script src="scripts/controllers/applicationList.js"></script>
        <script src="scripts/services/parseService.js"></script>
        <script src="scripts/services/parseLoginService.js"></script>
        <script src="scripts/services/parseConstant.js"></script>
        <script src="scripts/services/weatherService.js"></script>
        <script src="scripts/filters/truncateFilter.js"></script>
        <script src="scripts/filters/unique.js"></script>
        <script src="scripts/directives/sidebarDirective.js"></script>
        <script src="scripts/directives/summerNoteDirective.js"></script>

        <!-- End Angular Components -->

        <!-- endbuild -->

  </body>
</html>
