
/* HOMEPAGE */
#mobile-hero {
  background-image: url(../images/home/heromobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 380px;
}

@media(max-width: 767px) {
  .mobile-spacing {padding-bottom: 10px;}
}

#blurb { height:auto!important; }
