<h1 class="text-center">New Opening</h1><br>

<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<form ng-submit="submit(data)">
				<input type="text" ng-model="data.title" class='form-control' placeholder="Enter Title"><br>
				<input type="text" ng-model="data.loc" class='form-control' placeholder="Enter Location"><br>
				<input type="text" ng-model="data.job" class='form-control' placeholder="Enter Job"><br>
				<textarea cols="22" rows="5" ng-model="data.description" class='form-control' placeholder="Enter Description"></textarea><br>
				<input type="submit" class="button-small red_dark rounded">
			</form>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>
