<div class="jumbotron">
	<h1>New Opening</h1>
	<form ng-submit="add()">
		<label class="addLabel">Title:</label><input type="text" ng-model="data.title"><br>
		<label class="addLabel">Location:</label><input type="text" ng-model="data.loc"><br>
		<label class="addLabel">Job Id:</label><input type="text" ng-model="data.job"><br>
		<label class="addLabel">Description:</label><textarea cols="22" rows="5" ng-model="data.description"></textarea><br>
		<input type="submit" class="btn btn-primary">
	</form>
</div>