<div ng-controller="OpeningList">
  <div class="container">
      <div class="row">
          <h1 class="text-center">Job Openings</h1><hr>
          <a ng-href="#/new-job" class="button-small rounded btn-danger pull-right">Post New Job</a>
      </div>

    <div class="row">
      <div class="col-sm-6" ng-repeat="job in jobs | filter:global.search">
        <div class="job-tile">
          <h3 class="text-center">{{job.attributes.title}}</h3>
          <br>
          <p class="lead text-center">Location: {{job.attributes.loc}}</p>
          <p class="text-center">Summary:</p><p>{{job.attributes.description | truncate:200}}</p>
          <div class="text-center">
            <a class="button-small mahaska_blue rounded" href= "" ng-click="view($index)">View</a>
            <a class="button-small btn-warning rounded" href= "" ng-click="viewSingle(job.id)">Edit</a>
          </div>
        </div>
        <br>
      </div>
    </div>
    <hr><br>
  </div>
</div>
