<div ng-controller="OpeningList">
  <div class="container">
      <div class="row">
          <h1 class="text-center">Job Openings</h1><hr>
          <a ng-href="#/new-job" class="button-small rounded btn-danger pull-right">Post New Job</a>
      </div>

    <div class="row">
      <div class="col-sm-6 job-tile"ng-repeat="job in jobs | filter:global.search">
          <h4>{{job.attributes.title}}</h4>
          <br>
          <p class="lead">Location: {{job.attributes.loc}}</p>
          <p>Summary: <br>{{job.attributes.description | truncate:200}}</p>
          <div class="">
            <a class="button-small mahaska_blue rounded" href= "" ng-click="view($index)">View</a>
            <a class="button-small btn-warning rounded" href= "" ng-click="viewSingle(job.id)">Edit</a>
          </div>
      </div>
    </div>
    <hr><br>
  </div>
</div>
