<img src="images/parallax.jpg" id="bg" alt="">

<section>
<div class="container">
  <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center login-border">
      <img src="images/mahaska_historical_logo.png" class="img-responsive" style="display:inline;" alt="">
      <form ng-submit="login(login)">
        <fieldset>
          <br>
          <input class="form-control" placeholder="USERNAME" type="text" ng-model="login.username" required />
          <br>
          <input class="form-control" placeholder="PASSWORD" type="password" ng-model="login.password" required />
          <br>
          <input type="submit" value="Log in" class="button-small red_dark rounded" />
         </fieldset>
       </form>
    </div>
  <div class="col-sm-4"></div>
</div>
</section>
